/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background: #303642;
    background-alt: #303642;
    /* foreground:     #eeeeee; */
    white :         #eeeeee;
    foreground:     #5E81AB;
    selected:       #5E81AB;
    active:         #5E81AB;
    urgent:         #5E81AB;
}
