/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background: #303642;
    background-alt: #303642;
    white :         #eeeeee;
    foreground:     #C97F71;
    selected:       #C97F71;
    active:         #C97F71;
    urgent:         #C97F71;
    blue:           #5E81AB;
}
